/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/nbproject/
/app/config/local
/node_modules
*.log
*.cache
*.sqlite
__TwigTemplate_*
_ide_helper.php
/protected/
/public/uploads/
/public/packages/
/app/routes
/app/lang/packages
/app/config/packages
/app/database/migrations
