/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
/app/config/local/
/node_modules
/app/database/migrations/*_entrust_*
*.log
*.cache
*.cache.html
*.sqlite
__TwigTemplate_*
_ide_helper.php
/nbproject/private/
/protected/uploads/
/public/uploads/
/public/assets/backend/
/public/packages/